html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background: center / cover no-repeat url('../assets/bkg-fullscreen.svg');

  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}
