body {
  margin: 0;
  background: center / cover no-repeat url('./assets/bkg-fullscreen.svg');
  height: 100vh;
  width: 100vw;

  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
}
